<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="zheng-upms-rpc-service"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:protocol name="dubbo" port="20881"/>

    <!--<dubbo:monitor protocol="registry"/>-->

    <!-- 系统 -->
    <bean id="upmsSystemService" class="com.zheng.upms.service.UpmsSystemServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsSystemService" ref="upmsSystemService" timeout="10000"/>

    <!-- 组织 -->
    <bean id="upmsOrganizationService" class="com.zheng.upms.service.UpmsOrganizationServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsOrganizationService" ref="upmsOrganizationService" timeout="10000"/>

    <!-- 用户组织 -->
    <bean id="upmsUserOrganizationService" class="com.zheng.upms.service.UpmsUserOrganizationServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsUserOrganizationService" ref="upmsUserOrganizationService" timeout="10000"/>

    <!-- 用户 -->
    <bean id="upmsUserService" class="com.zheng.upms.service.UpmsUserServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsUserService" ref="upmsUserService" timeout="10000"/>

    <!-- 角色 -->
    <bean id="upmsRoleService" class="com.zheng.upms.service.UpmsRoleServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsRoleService" ref="upmsRoleService" timeout="10000"/>

    <!-- 权限 -->
    <bean id="upmsPermissionService" class="com.zheng.upms.service.UpmsPermissionServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsPermissionService" ref="upmsPermissionService" timeout="10000"/>

    <!-- 角色权限 -->
    <bean id="upmsRolePermissionService" class="com.zheng.upms.service.UpmsRolePermissionServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsRolePermissionService" ref="upmsRolePermissionService" timeout="10000"/>

    <!-- 用户权限 -->
    <bean id="upmsUserPermissionService" class="com.zheng.upms.service.UpmsUserPermissionServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsUserPermissionService" ref="upmsUserPermissionService" timeout="10000"/>

    <!-- 用户角色 -->
    <bean id="upmsUserRoleService" class="com.zheng.upms.service.UpmsUserRoleServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsUserRoleService" ref="upmsUserRoleService" timeout="10000"/>

    <!-- 操作日志 -->
    <bean id="upmsLogService" class="com.zheng.upms.service.UpmsLogServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsLogService" ref="upmsLogService" timeout="10000"/>

    <!-- 接口服务 -->
    <bean id="upmsApiService" class="com.zheng.upms.service.UpmsApiServiceImpl"/>
    <dubbo:service interface="com.zheng.upms.service.UpmsApiService" ref="upmsApiService" timeout="10000"/>

</beans>